<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.adresse %></p>
<p>
<%= @estaurant.stars.times do %>
<i classe ="fa fa-stars"></i>
<% end %>
</p>
<ul>
<%= @restaurant.reviews.each do %>
<li>
<%= review.content %>
(<%= review.rating.times do %>
<i classe ="fa fa-stars"></i>
<% end %>)
</li>
<% end %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
